<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/dashboard_head', { title: 'Dashboard - AddProducts'
    }) %>
  </head>

  <body>
    <!-- main wrapper -->

    <!-- navbar -->
    <%- include('./partials/dashboard_navbar') %>

    <div class="main-wrapper">
      <!-- navbar vertical -->
      <!-- navbar -->
      <%- include('./partials/dashboard_navbar_vertical', { activePage:
      'categories' }) %>

      <!-- main -->
      <main class="main-content-wrapper">
        <!-- container -->
        <div class="container">
          <!-- row -->
          <div class="row mb-8">
            <div class="col-md-12">
              <div class="d-md-flex justify-content-between align-items-center">
                <!-- page header -->
                <div>
                  <h2>Thêm sản phẩmm mới</h2>
                  <!-- breacrumb -->
                  <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0">
                      <li class="breadcrumb-item">
                        <a href="/dashboard" class="text-inherit"
                          >Trang quản lý /</a
                        >
                      </li>
                      <li class="">
                        <a href="/dashboard/products" class="text-inherit"
                          >Sản phẩm /</a
                        >
                      </li>
                      <li class="breadcrumb-item active" aria-current="page">
                        Thêm sản phẩm mới
                      </li>
                    </ol>
                  </nav>
                </div>
                <!-- button -->
                <div>
                  <a href="/dashboard/categories/" class="btn btn-light"
                    >Trở về</a
                  >
                </div>
              </div>
            </div>
          </div>
          <!-- row -->
          <form
            action="/dashboard/categories/add"
            method="POST"
            enctype="multipart/form-data"
          >
            <div class="row">
              <div class="col-lg-12 col-12">
                <!-- card -->
                <div class="card mb-6 shadow border-0">
                  <!-- card body -->
                  <div class="card-body p-6">
                    <h4 class="mb-3 h5">Ảnh sản phẩm</h4>

                    <!-- Nút chọn ảnh -->
                    <input
                      type="file"
                      class="form-control"
                      id="categoryImage"
                      name="image"
                      required
                    />

                    <!-- Phần hiển thị ảnh sau khi tải lên -->
                    <div id="imagePreviewContainer">
                      <img
                        id="imagePreview"
                        class="image-preview"
                        src=""
                        alt="Ảnh sản phẩm sẽ hiển thị tại đây"
                        style="
                          display: none;
                          margin-top: 20px;
                          max-width: 100%;
                          max-height: 400px;
                          border-radius: 20px;
                        "
                      />
                    </div>
                    <h4 class="mb-4 h5 mt-5">Thông tin danh mục sản phẩm</h4>

                    <div class="row">
                      <!-- input -->
                      <div class="mb-3 col-lg-6">
                        <label for="categoryName" class="form-label"
                          >Tiêu đề</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          id="categoryName"
                          name="name"
                          placeholder="Tên danh mục sản phẩm"
                          required
                        />
                      </div>
                      <div class="col-lg-12">
                        <button type="submit" class="btn btn-primary">
                          Tạo danh mục
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </main>
    </div>

    <!-- Libs JS -->
    <!-- <script src="../assets/libs/jquery/dist/jquery.min.js"></script> -->
    <script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/libs/simplebar/dist/simplebar.min.js"></script>

    <!-- Theme JS -->
    <script src="../assets/js/theme.min.js"></script>

    <script src="../assets/libs/quill/dist/quill.min.js"></script>
    <script src="../assets/js/vendors/editor.js"></script>
    <script src="../assets/libs/dropzone/dist/min/dropzone.min.js"></script>
    <script src="../assets/js/vendors/dropzone.js"></script>
    <script>
      // Lắng nghe sự kiện khi người dùng chọn file
      document
        .getElementById("categoryImage")
        .addEventListener("change", function (event) {
          const file = event.target.files[0];

          // Kiểm tra xem có file được chọn không
          if (file) {
            const reader = new FileReader();

            // Khi đọc xong file, hiển thị ảnh
            reader.onload = function (e) {
              const imagePreview = document.getElementById("imagePreview");
              imagePreview.src = e.target.result; // Cập nhật src của ảnh
              imagePreview.style.display = "block"; // Hiển thị ảnh
            };

            reader.readAsDataURL(file); // Đọc file dưới dạng base64
          }
        });
    </script>
  </body>

  <!-- Mirrored from freshcart.codescandy.com/dashboard/add-product.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 25 Dec 2024 07:48:09 GMT -->
</html>
