<meta charset="utf-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1, shrink-to-fit=no"
/>
<meta content="Codescandy" name="author" />
<title><%= title || 'Default Title' %></title>

<link
  href="../../assets/libs/slick-carousel/slick/slick.css"
  rel="stylesheet"
/>
<link
  href="../../assets/libs/slick-carousel/slick/slick-theme.css"
  rel="stylesheet"
/>
<link
  href="../../assets/libs/tiny-slider/dist/tiny-slider.css"
  rel="stylesheet"
/>

<!-- Favicon icon-->
<link
  rel="shortcut icon"
  type="image/x-icon"
  href="../../assets/images/favicon/favicon.ico"
  href=""
/>

<!-- Libs CSS -->
<link
  href="../../assets/libs/bootstrap-icons/font/bootstrap-icons.min.css"
  rel="stylesheet"
/>
<link
  href="../../assets/libs/feather-webfont/dist/feather-icons.css"
  rel="stylesheet"
/>
<link
  href="../../assets/libs/simplebar/dist/simplebar.min.css"
  rel="stylesheet"
/>

<!-- Theme CSS -->
<link rel="stylesheet" href="../../assets/css/theme.min.css" />
<script
  async
  src="https://www.googletagmanager.com/gtag/js?id=G-M8S4MT3EYG"
></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());
  gtag("config", "G-M8S4MT3EYG");
</script>
<script type="text/javascript">
  (function (c, l, a, r, i, t, y) {
    c[a] =
      c[a] ||
      function () {
        (c[a].q = c[a].q || []).push(arguments);
      };
    t = l.createElement(r);
    t.async = 1;
    t.src = "https://www.clarity.ms/tag/" + i;
    y = l.getElementsByTagName(r)[0];
    y.parentNode.insertBefore(t, y);
  })(window, document, "clarity", "script", "kuc8w5o9nt");
</script>
<style>
  /* Thêm CSS cho thông báo */
  #add-to-cart-notification {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #d1e7dd;
    color: #29513f;
    padding: 10px 20px;
    border-width: 10px;
    border-color: #a8d2bf;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }

  #add-to-cart-notification.show {
    display: block;
    opacity: 1;
  }
</style>
